src/main/resources/wsdl/AprovisionamientoSGR.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Aprovisionamiento/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Aprovisionamiento" targetNamespace="http://www.example.org/Aprovisionamiento/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Aprovisionamiento/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/Aprovisionamiento/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
      <xsd:element name="Aprovisionamiento">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="HeaderRequest" type="tns:HeaderRequest" maxOccurs="1" minOccurs="1"/>
          	<xsd:element name="BodyRequest" type="tns:BodyRequest" maxOccurs="1" minOccurs="1"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AprovisionamientoResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="HeaderResponse"
          		type="tns:HeaderResponse" />
          	<xsd:element name="BodyResponse" type="tns:BodyResponse"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
        
      <xsd:complexType name="HeaderRequest">
      	<xsd:sequence>
      		<xsd:element name="Aplicacion" type="xsd:string"></xsd:element>
      		<xsd:element name="System" type="xsd:string"></xsd:element>
      		<xsd:element name="Controller" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BodyRequest">
      	<xsd:sequence>
      		<xsd:element name="Serie" type="xsd:string"></xsd:element>
      		<xsd:element name="MacAddress1" type="xsd:string"></xsd:element>
      		<xsd:element name="MacAddress2" type="xsd:string"></xsd:element>
      		<xsd:element name="IdUsuario" type="xsd:int"></xsd:element>
      		<xsd:element name="IdEmpresa" type="xsd:int"></xsd:element>
      		<xsd:element name="DeviceModel" type="xsd:int"></xsd:element>
      		<xsd:element name="NombreCiudad" type="xsd:string"></xsd:element>
      		<xsd:element name="Bodega" type="xsd:string"></xsd:element>
      		<xsd:element name="CodigoArticulo" type="xsd:string"></xsd:element>
      		<xsd:element name="Usuario" type="xsd:string"></xsd:element>
      		<xsd:element name="IdRestype" type="xsd:string"></xsd:element>
      		<xsd:element name="Tipo" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="HeaderResponse">
      	<xsd:sequence>
      		<xsd:element name="Aplicacion" type="xsd:string"></xsd:element>
      		<xsd:element name="System" type="xsd:string"></xsd:element>
      		<xsd:element name="Controller" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BodyResponse">
      	<xsd:sequence>
      		<xsd:element name="Serie" type="xsd:string"></xsd:element>
      		<xsd:element name="IdUsuario" type="xsd:string"></xsd:element>
                    <xsd:element name="ErrorCode" type="xsd:string"></xsd:element>
                    <xsd:element name="ErrorMessagge" type="xsd:string"></xsd:element>
                </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AprovisionamientoRequest">
    <wsdl:part element="tns:Aprovisionamiento" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AprovisionamientoResponse">
    <wsdl:part element="tns:AprovisionamientoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Aprovisionamiento">
    <wsdl:operation name="Aprovisionamiento">
      <wsdl:input message="tns:AprovisionamientoRequest"/>
      <wsdl:output message="tns:AprovisionamientoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AprovisionamientoSOAP" type="tns:Aprovisionamiento">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Aprovisionamiento">
      <soap:operation soapAction="http://www.example.org/Aprovisionamiento/Aprovisionamiento"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Aprovisionamiento">
    <wsdl:port binding="tns:AprovisionamientoSOAP" name="AprovisionamientoSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
