src/main/resources/wsdl/dth.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
				xmlns:tns="http://www.example.org/dth/" 
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				name="dth" 
				targetNamespace="http://www.example.org/dth/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/" elementFormDefault="qualified" xmlns:tns="http://tempuri.org/">
      <xsd:element name="Install">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="userName" type="xsd:string" maxOccurs="1" minOccurs="0" />
          	<xsd:element name="password" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="sequence" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="smartCards" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="codeSettopBox" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="brandSettopBox" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="modelSettopBox" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="firmwareSettopBox" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="pack1" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="pack2" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="pack3" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="masterCard" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="userId" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="referenceNumber" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="notes" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="customerId" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="zone" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InstallResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="InstallResult" type="xsd:string" maxOccurs="1" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Status">
      	<xsd:complexType>
      		<xsd:sequence>

                        <xsd:element name="in" type="xsd:string"></xsd:element>
                        <xsd:element name="usuario" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="password" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
                        <xsd:element name="in" type="xsd:string"></xsd:element>
                    </xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="StatusResponse">
      	<xsd:complexType>
      		<xsd:sequence>

                        <xsd:element name="out" type="xsd:string"></xsd:element>
                        <xsd:element name="StatusResult" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
                        <xsd:element name="out" type="xsd:string"></xsd:element>
                    </xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperation">
      	<xsd:complexType>
      		<xsd:sequence>

                        <xsd:element name="in" type="xsd:string"></xsd:element>
                        <xsd:element name="in" type="xsd:string"></xsd:element>
                        <xsd:element name="in" type="xsd:string"></xsd:element>
                    </xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
      	<xsd:complexType>
      		<xsd:sequence>

                        <xsd:element name="out" type="xsd:string"></xsd:element>
                        <xsd:element name="out" type="xsd:string"></xsd:element>
                        <xsd:element name="out" type="xsd:string"></xsd:element>
                    </xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InstallRequest">
    <wsdl:part element="tns:Install" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="InstallResponse">
    <wsdl:part element="tns:InstallResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="StatusRequest">
  	<wsdl:part name="parameters" element="tns:Status"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="StatusResponse">
  	<wsdl:part name="parameters" element="tns:StatusResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationRequest">
  	<wsdl:part name="parameters" element="tns:NewOperation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
  	<wsdl:part name="parameters" element="tns:NewOperationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="dth">
    <wsdl:operation name="Install">
      <wsdl:input message="tns:InstallRequest"/>
      <wsdl:output message="tns:InstallResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Status">
    	<wsdl:input message="tns:StatusRequest"></wsdl:input>
    	<wsdl:output message="tns:StatusResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dthSOAP" type="tns:dth">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Install">
      <soap:operation soapAction="http://www.example.org/dth/Install"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="dth">
    <wsdl:port binding="tns:dthSOAP" name="dthSOAP">
      <soap:address location="http://192.168.21.191:8090/TvCableIntegrationServiceInternal.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
