src/main/resources/wsdl/dth2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
					xmlns:tns="http://www.example.org/dth2/" 
					xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
					xmlns:s="http://www.w3.org/2001/XMLSchema" 
					name="dth2" 
					targetNamespace="http://tempuri.org/">
	<wsdl:types>
		<s:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified">
			<s:element name="Status">
				<s:complexType>
					<s:sequence>
						<s:element name="usuario" type="s:string" maxOccurs="1" minOccurs="0" />
						<s:element name="password" type="s:string" maxOccurs="1" minOccurs="0"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="StatusResponse">
				<s:complexType>
					<s:sequence>
						<s:element name="StatusResult" type="s:string" maxOccurs="1" minOccurs="0" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="StatusRequestIn">
		<wsdl:part element="tns:Status" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="StatusResponse">
		<wsdl:part element="tns:StatusResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="dth2">
		<wsdl:operation name="Status">
			<wsdl:input message="tns:StatusRequest"/>
			<wsdl:output message="tns:StatusResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="dth2SOAP" type="tns:dth2">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Status">
			<soap:operation soapAction="http://www.example.org/dth2/Status"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="dth2">
		<wsdl:port binding="tns:dth2SOAP" name="dth2SOAP">
			<soap:address location="http://192.168.21.205/WsAprovisionamientoFSM/services/WsdlTvPagada"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
