src/main/resources/wsdl/EMS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/EMS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EMS" targetNamespace="http://www.example.org/EMS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/EMS/">
      <xsd:element name="EMS">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="Header" type="tns:Header"></xsd:element>




      			<xsd:element name="Body" type="tns:Body"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="EMSResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="NameOut" type="xsd:string"></xsd:element>
      			<xsd:element name="Error" type="xsd:string"></xsd:element>
      			<xsd:element name="ErrorNo" type="xsd:string"></xsd:element>
      			<xsd:element name="ErrorMessage" type="xsd:string"></xsd:element>
      			<xsd:element name="Description" type="xsd:string"></xsd:element>
      			<xsd:element name="Name" type="xsd:string"></xsd:element>
      			<xsd:element name="Address" type="xsd:string"></xsd:element>
      			<xsd:element name="Telephone" type="xsd:string"></xsd:element>
      			<xsd:element name="Plans" type="xsd:string"></xsd:element>
      			<xsd:element name="Optional" type="tns:Optional"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
        
      <xsd:complexType name="Header">
      	<xsd:sequence>
      		<xsd:element name="Target" type="xsd:string"></xsd:element>
      		<xsd:element name="Entry" type="xsd:string"></xsd:element>
      		<xsd:element name="Function" type="xsd:string"></xsd:element>
      		<xsd:element name="User" type="xsd:string"></xsd:element>
      		<xsd:element name="UserId" type="xsd:string"></xsd:element>
      		<xsd:element name="Optional" type="tns:Option"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Body">
      	<xsd:sequence>
      		<xsd:element name="processId" type="xsd:string"></xsd:element>
      		<xsd:element name="OrderId" type="xsd:string"></xsd:element>
      		<xsd:element name="Status" type="xsd:string"></xsd:element>
      		<xsd:element name="customer" type="tns:Customer"></xsd:element>
      		<xsd:element name="Attributes" type="tns:Atributes"></xsd:element>
      		<xsd:element name="Materials" type="tns:Materials"></xsd:element>
      		<xsd:element name="Notes" type="tns:Notes"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      
            <xsd:complexType name="Object"></xsd:complexType>
        
            <xsd:complexType name="Customer">
            	<xsd:sequence>
            		<xsd:element name="customerId" type="xsd:string"></xsd:element>
            		<xsd:element name="AccountId" type="xsd:string"></xsd:element>
            		<xsd:element name="contracts"
            			type="tns:Contracts">
            		</xsd:element>
            		<xsd:element name="devices" type="tns:devices"></xsd:element>
            		<xsd:element name="Attributes" type="tns:Attributes"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="Contracts">
            	<xsd:sequence>
            		<xsd:element name="contract" type="tns:contract"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="devices">
            	<xsd:sequence>
            		<xsd:element name="device" type="tns:device"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="contract">
            	<xsd:sequence>
            		<xsd:element name="contractId" type="xsd:string"></xsd:element>
            		<xsd:element name="contractName"
            			type="xsd:string">
            		</xsd:element>
            		<xsd:element name="status" type="xsd:string"></xsd:element>
            		<xsd:element name="Date" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="device">
            	<xsd:sequence>
            		<xsd:element name="deviceId" type="xsd:string"></xsd:element>
            		<xsd:element name="deviceName" type="xsd:string"></xsd:element>
            		<xsd:element name="deviceType" type="xsd:string"></xsd:element>
            		<xsd:element name="serialNumber"
            			type="xsd:string">
            		</xsd:element>
            		<xsd:element name="macAddress" type="xsd:string"></xsd:element>
            		<xsd:element name="macAddress1" type="xsd:string"></xsd:element>
            		<xsd:element name="macAddress2" type="xsd:string"></xsd:element>
            		<xsd:element name="status" type="xsd:string"></xsd:element>
            		<xsd:element name="Date" type="xsd:string"></xsd:element>
            		<xsd:element name="Serialnumberold"
            			type="xsd:string">
            		</xsd:element>
            		<xsd:element name="MacAddressold"
            			type="xsd:string">
            		</xsd:element>
            		<xsd:element name="networkservice"
            			type="xsd:string">
            		</xsd:element>
            		<xsd:element name="forAll" type="xsd:string"></xsd:element>
            		<xsd:element name="activityType" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
        
            <xsd:complexType name="Attributes">
            	<xsd:sequence>
            		<xsd:element name="Attribute" type="tns:Attribute"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="Attribute">
            	<xsd:sequence>
            		<xsd:element name="Name" type="xsd:string"></xsd:element>
            		<xsd:element name="Value" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="Atributes">
            	<xsd:sequence>
            		<xsd:element name="Caption" type="xsd:string"></xsd:element>
            		<xsd:element name="Value" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="Materials">
            	<xsd:sequence>
            		<xsd:element name="Code" type="xsd:string"></xsd:element>
            		<xsd:element name="Number" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="Notes">
            	<xsd:sequence>
            		<xsd:element name="Note" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="Optional">
            	<xsd:sequence>
            		<xsd:element name="Optional1" type="xsd:string"></xsd:element>
            		<xsd:element name="Optional2" type="xsd:string"></xsd:element>
            		<xsd:element name="Optional3" type="xsd:int"></xsd:element>
            		<xsd:element name="Optional4" type="xsd:int"></xsd:element>
            		<xsd:element name="Optional5" type="xsd:boolean"></xsd:element>
            		<xsd:element name="Optional6" type="xsd:boolean"></xsd:element>
            		<xsd:element name="Optional7" type="xsd:float"></xsd:element>
            		<xsd:element name="Optional8" type="xsd:float"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="Option">
            	<xsd:sequence>
            		<xsd:element name="Optional1" type="xsd:string"></xsd:element>
            		<xsd:element name="Optional2" type="xsd:boolean"></xsd:element>
            		<xsd:element name="Optional3" type="xsd:int"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="EMSRequest">
  	<wsdl:part name="EjecutaComando" element="tns:EMS"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="EMSResponse">
  	<wsdl:part name="ConsultaRespuesta " element="tns:EMSResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EMS">
    <wsdl:operation name="EMS">
    	<wsdl:input message="tns:EMSRequest"></wsdl:input>
    	<wsdl:output message="tns:EMSResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EMSSOAP" type="tns:EMS">
  	<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="EMS">
  		<soap:operation soapAction="http://www.example.org/EMS/EMS" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EMS">
    <wsdl:port binding="tns:EMSSOAP" name="EMSSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
