src/main/resources/wsdl/WsdlDTH.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
			<s:element name="Install">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="codeSettopBox" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="brandSettopBox" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="modelSettopBox" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="firmwareSettopBox" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="pack1" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="pack2" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="pack3" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="masterCard" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="InstallResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="InstallResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="Disconnect">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="DisconnectResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="DisconnectResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="Reconnect">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="pack1" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="pack2" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="pack3" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ReconnectResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ReconnectResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="Uninstall">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="UninstallResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="UninstallResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="AddPacks">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="pack1" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="pack2" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="pack3" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="AddPacksResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="AddPacksResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="RemovePacks">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="pack1" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="pack2" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="pack3" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="RemovePacksResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="RemovePacksResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ReSendKey">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ReSendKeyResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ReSendKeyResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="UpdatePin">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="pin" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="UpdatePinResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="UpdatePinResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SendMessage">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="message" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SendMessageResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="SendMessageResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="UpdateFirmware">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="UpdateFirmwareResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="UpdateFirmwareResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ReScanChannels">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ReScanChannelsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ReScanChannelsResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="AddCarrier">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="carrier" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="AddCarrierResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="AddCarrierResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ViewSetTopBoxID">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ViewSetTopBoxIDResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ViewSetTopBoxIDResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ResetSetTopBox">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ResetSetTopBoxResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ResetSetTopBoxResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="UpdateCodeZone">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="code" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="UpdateCodeZoneResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="UpdateCodeZoneResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="RebootSetTopBox">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="RebootSetTopBoxResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="RebootSetTopBoxResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ForceUpdateFirmware">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ForceUpdateFirmwareResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ForceUpdateFirmwareResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="UpdateControlParentall">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="pin" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="UpdateControlParentallResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="UpdateControlParentallResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="UpdateMenuPass">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="pin" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="UpdateMenuPassResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="UpdateMenuPassResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="Status">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="StatusResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="StatusResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetSmartCardsInfo">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetSmartCardsInfoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetSmartCardsInfoResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetInformation">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="smartCards" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetInformationResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetInformationResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="InstallSoapIn">
		<wsdl:part name="parameters" element="tns:Install"/>
	</wsdl:message>
	<wsdl:message name="InstallSoapOut">
		<wsdl:part name="parameters" element="tns:InstallResponse"/>
	</wsdl:message>
	<wsdl:message name="DisconnectSoapIn">
		<wsdl:part name="parameters" element="tns:Disconnect"/>
	</wsdl:message>
	<wsdl:message name="DisconnectSoapOut">
		<wsdl:part name="parameters" element="tns:DisconnectResponse"/>
	</wsdl:message>
	<wsdl:message name="ReconnectSoapIn">
		<wsdl:part name="parameters" element="tns:Reconnect"/>
	</wsdl:message>
	<wsdl:message name="ReconnectSoapOut">
		<wsdl:part name="parameters" element="tns:ReconnectResponse"/>
	</wsdl:message>
	<wsdl:message name="UninstallSoapIn">
		<wsdl:part name="parameters" element="tns:Uninstall"/>
	</wsdl:message>
	<wsdl:message name="UninstallSoapOut">
		<wsdl:part name="parameters" element="tns:UninstallResponse"/>
	</wsdl:message>
	<wsdl:message name="AddPacksSoapIn">
		<wsdl:part name="parameters" element="tns:AddPacks"/>
	</wsdl:message>
	<wsdl:message name="AddPacksSoapOut">
		<wsdl:part name="parameters" element="tns:AddPacksResponse"/>
	</wsdl:message>
	<wsdl:message name="RemovePacksSoapIn">
		<wsdl:part name="parameters" element="tns:RemovePacks"/>
	</wsdl:message>
	<wsdl:message name="RemovePacksSoapOut">
		<wsdl:part name="parameters" element="tns:RemovePacksResponse"/>
	</wsdl:message>
	<wsdl:message name="ReSendKeySoapIn">
		<wsdl:part name="parameters" element="tns:ReSendKey"/>
	</wsdl:message>
	<wsdl:message name="ReSendKeySoapOut">
		<wsdl:part name="parameters" element="tns:ReSendKeyResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdatePinSoapIn">
		<wsdl:part name="parameters" element="tns:UpdatePin"/>
	</wsdl:message>
	<wsdl:message name="UpdatePinSoapOut">
		<wsdl:part name="parameters" element="tns:UpdatePinResponse"/>
	</wsdl:message>
	<wsdl:message name="SendMessageSoapIn">
		<wsdl:part name="parameters" element="tns:SendMessage"/>
	</wsdl:message>
	<wsdl:message name="SendMessageSoapOut">
		<wsdl:part name="parameters" element="tns:SendMessageResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateFirmwareSoapIn">
		<wsdl:part name="parameters" element="tns:UpdateFirmware"/>
	</wsdl:message>
	<wsdl:message name="UpdateFirmwareSoapOut">
		<wsdl:part name="parameters" element="tns:UpdateFirmwareResponse"/>
	</wsdl:message>
	<wsdl:message name="ReScanChannelsSoapIn">
		<wsdl:part name="parameters" element="tns:ReScanChannels"/>
	</wsdl:message>
	<wsdl:message name="ReScanChannelsSoapOut">
		<wsdl:part name="parameters" element="tns:ReScanChannelsResponse"/>
	</wsdl:message>
	<wsdl:message name="AddCarrierSoapIn">
		<wsdl:part name="parameters" element="tns:AddCarrier"/>
	</wsdl:message>
	<wsdl:message name="AddCarrierSoapOut">
		<wsdl:part name="parameters" element="tns:AddCarrierResponse"/>
	</wsdl:message>
	<wsdl:message name="ViewSetTopBoxIDSoapIn">
		<wsdl:part name="parameters" element="tns:ViewSetTopBoxID"/>
	</wsdl:message>
	<wsdl:message name="ViewSetTopBoxIDSoapOut">
		<wsdl:part name="parameters" element="tns:ViewSetTopBoxIDResponse"/>
	</wsdl:message>
	<wsdl:message name="ResetSetTopBoxSoapIn">
		<wsdl:part name="parameters" element="tns:ResetSetTopBox"/>
	</wsdl:message>
	<wsdl:message name="ResetSetTopBoxSoapOut">
		<wsdl:part name="parameters" element="tns:ResetSetTopBoxResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateCodeZoneSoapIn">
		<wsdl:part name="parameters" element="tns:UpdateCodeZone"/>
	</wsdl:message>
	<wsdl:message name="UpdateCodeZoneSoapOut">
		<wsdl:part name="parameters" element="tns:UpdateCodeZoneResponse"/>
	</wsdl:message>
	<wsdl:message name="RebootSetTopBoxSoapIn">
		<wsdl:part name="parameters" element="tns:RebootSetTopBox"/>
	</wsdl:message>
	<wsdl:message name="RebootSetTopBoxSoapOut">
		<wsdl:part name="parameters" element="tns:RebootSetTopBoxResponse"/>
	</wsdl:message>
	<wsdl:message name="ForceUpdateFirmwareSoapIn">
		<wsdl:part name="parameters" element="tns:ForceUpdateFirmware"/>
	</wsdl:message>
	<wsdl:message name="ForceUpdateFirmwareSoapOut">
		<wsdl:part name="parameters" element="tns:ForceUpdateFirmwareResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateControlParentallSoapIn">
		<wsdl:part name="parameters" element="tns:UpdateControlParentall"/>
	</wsdl:message>
	<wsdl:message name="UpdateControlParentallSoapOut">
		<wsdl:part name="parameters" element="tns:UpdateControlParentallResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateMenuPassSoapIn">
		<wsdl:part name="parameters" element="tns:UpdateMenuPass"/>
	</wsdl:message>
	<wsdl:message name="UpdateMenuPassSoapOut">
		<wsdl:part name="parameters" element="tns:UpdateMenuPassResponse"/>
	</wsdl:message>
	<wsdl:message name="StatusSoapIn">
		<wsdl:part name="parameters" element="tns:Status"/>
	</wsdl:message>
	<wsdl:message name="StatusSoapOut">
		<wsdl:part name="parameters" element="tns:StatusResponse"/>
	</wsdl:message>
	<wsdl:message name="GetSmartCardsInfoSoapIn">
		<wsdl:part name="parameters" element="tns:GetSmartCardsInfo"/>
	</wsdl:message>
	<wsdl:message name="GetSmartCardsInfoSoapOut">
		<wsdl:part name="parameters" element="tns:GetSmartCardsInfoResponse"/>
	</wsdl:message>
	<wsdl:message name="GetInformationSoapIn">
		<wsdl:part name="parameters" element="tns:GetInformation"/>
	</wsdl:message>
	<wsdl:message name="GetInformationSoapOut">
		<wsdl:part name="parameters" element="tns:GetInformationResponse"/>
	</wsdl:message>
	<wsdl:portType name="TvCableIntegrationServiceInternalSoap">
		<wsdl:operation name="Install">
			<wsdl:input message="tns:InstallSoapIn"/>
			<wsdl:output message="tns:InstallSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="Disconnect">
			<wsdl:input message="tns:DisconnectSoapIn"/>
			<wsdl:output message="tns:DisconnectSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="Reconnect">
			<wsdl:input message="tns:ReconnectSoapIn"/>
			<wsdl:output message="tns:ReconnectSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="Uninstall">
			<wsdl:input message="tns:UninstallSoapIn"/>
			<wsdl:output message="tns:UninstallSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="AddPacks">
			<wsdl:input message="tns:AddPacksSoapIn"/>
			<wsdl:output message="tns:AddPacksSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="RemovePacks">
			<wsdl:input message="tns:RemovePacksSoapIn"/>
			<wsdl:output message="tns:RemovePacksSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="ReSendKey">
			<wsdl:input message="tns:ReSendKeySoapIn"/>
			<wsdl:output message="tns:ReSendKeySoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="UpdatePin">
			<wsdl:input message="tns:UpdatePinSoapIn"/>
			<wsdl:output message="tns:UpdatePinSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="SendMessage">
			<wsdl:input message="tns:SendMessageSoapIn"/>
			<wsdl:output message="tns:SendMessageSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateFirmware">
			<wsdl:input message="tns:UpdateFirmwareSoapIn"/>
			<wsdl:output message="tns:UpdateFirmwareSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="ReScanChannels">
			<wsdl:input message="tns:ReScanChannelsSoapIn"/>
			<wsdl:output message="tns:ReScanChannelsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="AddCarrier">
			<wsdl:input message="tns:AddCarrierSoapIn"/>
			<wsdl:output message="tns:AddCarrierSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="ViewSetTopBoxID">
			<wsdl:input message="tns:ViewSetTopBoxIDSoapIn"/>
			<wsdl:output message="tns:ViewSetTopBoxIDSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="ResetSetTopBox">
			<wsdl:input message="tns:ResetSetTopBoxSoapIn"/>
			<wsdl:output message="tns:ResetSetTopBoxSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateCodeZone">
			<wsdl:input message="tns:UpdateCodeZoneSoapIn"/>
			<wsdl:output message="tns:UpdateCodeZoneSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="RebootSetTopBox">
			<wsdl:input message="tns:RebootSetTopBoxSoapIn"/>
			<wsdl:output message="tns:RebootSetTopBoxSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="ForceUpdateFirmware">
			<wsdl:input message="tns:ForceUpdateFirmwareSoapIn"/>
			<wsdl:output message="tns:ForceUpdateFirmwareSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateControlParentall">
			<wsdl:input message="tns:UpdateControlParentallSoapIn"/>
			<wsdl:output message="tns:UpdateControlParentallSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateMenuPass">
			<wsdl:input message="tns:UpdateMenuPassSoapIn"/>
			<wsdl:output message="tns:UpdateMenuPassSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="Status">
			<wsdl:input message="tns:StatusSoapIn"/>
			<wsdl:output message="tns:StatusSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetSmartCardsInfo">
			<wsdl:input message="tns:GetSmartCardsInfoSoapIn"/>
			<wsdl:output message="tns:GetSmartCardsInfoSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetInformation">
			<wsdl:input message="tns:GetInformationSoapIn"/>
			<wsdl:output message="tns:GetInformationSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TvCableIntegrationServiceInternalSoap" type="tns:TvCableIntegrationServiceInternalSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Install">
			<soap:operation soapAction="http://tempuri.org/Install" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Disconnect">
			<soap:operation soapAction="http://tempuri.org/Disconnect" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Reconnect">
			<soap:operation soapAction="http://tempuri.org/Reconnect" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Uninstall">
			<soap:operation soapAction="http://tempuri.org/Uninstall" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddPacks">
			<soap:operation soapAction="http://tempuri.org/AddPacks" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RemovePacks">
			<soap:operation soapAction="http://tempuri.org/RemovePacks" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReSendKey">
			<soap:operation soapAction="http://tempuri.org/ReSendKey" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdatePin">
			<soap:operation soapAction="http://tempuri.org/UpdatePin" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SendMessage">
			<soap:operation soapAction="http://tempuri.org/SendMessage" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateFirmware">
			<soap:operation soapAction="http://tempuri.org/UpdateFirmware" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReScanChannels">
			<soap:operation soapAction="http://tempuri.org/ReScanChannels" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddCarrier">
			<soap:operation soapAction="http://tempuri.org/AddCarrier" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ViewSetTopBoxID">
			<soap:operation soapAction="http://tempuri.org/ViewSetTopBoxID" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ResetSetTopBox">
			<soap:operation soapAction="http://tempuri.org/ResetSetTopBox" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateCodeZone">
			<soap:operation soapAction="http://tempuri.org/UpdateCodeZone" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RebootSetTopBox">
			<soap:operation soapAction="http://tempuri.org/RebootSetTopBox" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ForceUpdateFirmware">
			<soap:operation soapAction="http://tempuri.org/ForceUpdateFirmware" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateControlParentall">
			<soap:operation soapAction="http://tempuri.org/UpdateControlParentall" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateMenuPass">
			<soap:operation soapAction="http://tempuri.org/UpdateMenuPass" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Status">
			<soap:operation soapAction="http://tempuri.org/Status" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSmartCardsInfo">
			<soap:operation soapAction="http://tempuri.org/GetSmartCardsInfo" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInformation">
			<soap:operation soapAction="http://tempuri.org/GetInformation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="TvCableIntegrationServiceInternalSoap12" type="tns:TvCableIntegrationServiceInternalSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Install">
			<soap12:operation soapAction="http://tempuri.org/Install" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Disconnect">
			<soap12:operation soapAction="http://tempuri.org/Disconnect" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Reconnect">
			<soap12:operation soapAction="http://tempuri.org/Reconnect" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Uninstall">
			<soap12:operation soapAction="http://tempuri.org/Uninstall" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddPacks">
			<soap12:operation soapAction="http://tempuri.org/AddPacks" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RemovePacks">
			<soap12:operation soapAction="http://tempuri.org/RemovePacks" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReSendKey">
			<soap12:operation soapAction="http://tempuri.org/ReSendKey" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdatePin">
			<soap12:operation soapAction="http://tempuri.org/UpdatePin" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SendMessage">
			<soap12:operation soapAction="http://tempuri.org/SendMessage" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateFirmware">
			<soap12:operation soapAction="http://tempuri.org/UpdateFirmware" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReScanChannels">
			<soap12:operation soapAction="http://tempuri.org/ReScanChannels" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddCarrier">
			<soap12:operation soapAction="http://tempuri.org/AddCarrier" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ViewSetTopBoxID">
			<soap12:operation soapAction="http://tempuri.org/ViewSetTopBoxID" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ResetSetTopBox">
			<soap12:operation soapAction="http://tempuri.org/ResetSetTopBox" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateCodeZone">
			<soap12:operation soapAction="http://tempuri.org/UpdateCodeZone" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RebootSetTopBox">
			<soap12:operation soapAction="http://tempuri.org/RebootSetTopBox" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ForceUpdateFirmware">
			<soap12:operation soapAction="http://tempuri.org/ForceUpdateFirmware" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateControlParentall">
			<soap12:operation soapAction="http://tempuri.org/UpdateControlParentall" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateMenuPass">
			<soap12:operation soapAction="http://tempuri.org/UpdateMenuPass" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Status">
			<soap12:operation soapAction="http://tempuri.org/Status" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSmartCardsInfo">
			<soap12:operation soapAction="http://tempuri.org/GetSmartCardsInfo" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInformation">
			<soap12:operation soapAction="http://tempuri.org/GetInformation" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TvCableIntegrationServiceInternal">
		<wsdl:port name="TvCableIntegrationServiceInternalSoap" binding="tns:TvCableIntegrationServiceInternalSoap">
			<soap:address location="http://192.168.21.191:8090/TvCableIntegrationServiceInternal.asmx"/>
		</wsdl:port>
		<wsdl:port name="TvCableIntegrationServiceInternalSoap12" binding="tns:TvCableIntegrationServiceInternalSoap12">
			<soap12:address location="http://192.168.21.191:8090/TvCableIntegrationServiceInternal.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>