src/main/resources/wsdl/WsdlIntraway.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.grupotvcable.com.ec/WsdlIntraway/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://www.grupotvcable.com.ec/WsdlIntraway/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.grupotvcable.com.ec/WsdlIntraway/">
<xsd:element name="ejecutaComando" type="tns:Comando"/>
<xsd:element name="consultaRespuesta" type="tns:Respuesta"/>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Comando">
<xs:sequence>
<xs:element xmlns:ns1="http://www.grupotvcable.com.ec/WsdlIntraway/" name="Cabecera" type="ns1:Cabecera"/>
<xs:element xmlns:ns2="http://www.grupotvcable.com.ec/WsdlIntraway/" name="Detalle" type="ns2:Detalle"/>
</xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Cabecera">
<xs:sequence>
<xs:element name="IDEmpresa" type="xs:int"/>
<xs:element name="Negocio" type="xs:int"/>
<xs:element name="Interface" type="xs:int"/>
<xs:element name="Secuencia" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Detalle">
<xs:sequence>
<xs:element xmlns:ns3="http://www.grupotvcable.com.ec/WsdlIntraway/" name="Intraway" type="ns3:Intraway"/>
</xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Intraway">
<xs:sequence>
<xs:element xmlns:ns4="http://www.grupotvcable.com.ec/WsdlIntraway/" name="Estandar" type="ns4:Estandar"/>
<xs:element xmlns:ns5="http://www.grupotvcable.com.ec/WsdlIntraway/" name="Interfaz" type="ns5:Interfaz"/>
</xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Estandar">
<xs:sequence>
<xs:element name="AuthKey" type="xs:string"/>
<xs:element name="ClienteCRM" type="xs:int"/>
<xs:element name="IdProducto" type="xs:int"/>
<xs:element name="IdProductoPadre" type="xs:int"/>
<xs:element name="IdServicio" type="xs:int"/>
<xs:element name="IdServicioPadre" type="xs:int"/>
<xs:element name="IdVenta" type="xs:int"/>
<xs:element name="IdVentaPadre" type="xs:int"/>
<xs:element name="IdPromotor" type="xs:string"/>
<xs:element name="FechaDiferida" type="xs:anySimpleType"/>
<xs:element name="IdEstado" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Interfaz">
<xs:sequence>
<xs:element name="Nombre" type="xs:string"/>
<xs:element name="Username" type="xs:string"/>
<xs:element name="Password" type="xs:string"/>
<xs:element name="IdTipoCliente" type="xs:string"/>
<xs:element name="EmailNoticias" type="xs:string"/>
<xs:element name="idCicloFactCRM" type="xs:string"/>
<xs:element name="ServicTypeCRMId" type="xs:int"/>
<xs:element name="MessageCRMID" type="xs:string"/>
<xs:element name="Cantidad" type="xs:int"/>
<xs:element name="Quotamax" type="xs:int"/>
<xs:element name="ServidorEmailCRMId" type="xs:string"/>
<xs:element name="Dominio" type="xs:string"/>
<xs:element name="DiskQuota" type="xs:int"/>
<xs:element name="Noticias" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
<xs:element name="ServicePackageCRMId" type="xs:string"/>
<xs:element name="Hub" type="xs:string"/>
<xs:element name="Nodo" type="xs:string"/>
<xs:element name="IdISPCRM" type="xs:string"/>
<xs:element name="ActivactionCode" type="xs:string"/>
<xs:element name="IspMtaCrmId" type="xs:int"/>
<xs:element name="BuscarTagCRM" type="xs:int"/>
<xs:element name="Docsis" type="xs:string"/>
<xs:element name="EnableAccounting" type="xs:string"/>
<xs:element name="ProductName" type="xs:string"/>
<xs:element name="BandPackageCRMId" type="xs:string"/>
<xs:element name="PrepaidPolicyCRMId" type="xs:string"/>
<xs:element name="CantCPE" type="xs:int"/>
<xs:element name="USChannelID" type="xs:int"/>
<xs:element name="StartingBalance" type="xs:int"/>
<xs:element name="DSFreq" type="xs:int"/>
<xs:element name="PeriodicalBaseBalance" type="xs:int"/>
<xs:element name="NoBoot" type="xs:boolean"/>
<xs:element name="MACAddress" type="xs:string"/>
<xs:element name="SnmpGroupCRMID" type="xs:string"/>
<xs:element name="HostName" type="xs:string"/>
<xs:element name="CmsCMDID" type="xs:string"/>
<xs:element name="Provisioning" type="xs:int"/>
<xs:element name="ProfileCRMId" type="xs:string"/>
<xs:element name="SendtoController" type="xs:string"/>
<xs:element name="LinesQTy" type="xs:int"/>
<xs:element name="MtaModelCRMId" type="xs:string"/>
<xs:element name="EndpointNumber" type="xs:int"/>
<xs:element name="Tn" type="xs:string"/>
<xs:element name="HomeExchangeCRMId" type="xs:string"/>
<xs:element name="FeatureCrmId" type="xs:string"/>
<xs:element name="Active" type="xs:int"/>
<xs:element name="DatoI1" type="xs:string"/>
<xs:element name="DatoI2" type="xs:string"/>
<xs:element name="Customer1" type="xs:string"/>
<xs:element name="Customer2" type="xs:string"/>
<xs:element name="Customer3" type="xs:string"/>
<xs:element name="Customer4" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Respuesta">
<xs:sequence>
<xs:element xmlns:ns6="http://www.grupotvcable.com.ec/WsdlIntraway/" name="Cabecera" type="ns6:Cabecera"/>
<xs:element xmlns:ns7="http://www.grupotvcable.com.ec/WsdlIntraway/" name="Mensaje" type="ns7:Mensaje"/>
</xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Mensaje">
<xs:sequence>
<xs:element name="CodError" type="xs:int"/>
<xs:element name="DetMensaje" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="AprovIntrawayRequest">
    <wsdl:part name="ejecutaComando" element="tns:ejecutaComando"/>
  </wsdl:message>
  <wsdl:message name="AprovIntrawayResponse">
    <wsdl:part name="consultaRespuesta" element="tns:consultaRespuesta"/>
  </wsdl:message>
  <wsdl:portType name="WsdlIntraway">
    <wsdl:operation name="AprovIntraway">
      <wsdl:input name="AprovIntrawayRequest" message="tns:AprovIntrawayRequest"/>
      <wsdl:output name="AprovIntrawayResponse" message="tns:AprovIntrawayResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsdlIntrawayHttpBinding" type="tns:WsdlIntraway">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AprovIntraway">
      <wsdlsoap:operation soapAction="http://www.grupotvcable.com.ec/WsdlIntraway/AprovIntraway"/>
      <wsdl:input name="AprovIntrawayRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AprovIntrawayResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsdlIntraway">
    <wsdl:port name="WsdlIntrawayHttpPort" binding="tns:WsdlIntrawayHttpBinding">
      <wsdlsoap:address location="http://192.168.21.205/WsAprovisionamientoFSM/services/WsdlIntraway"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
